{
  "spreadsheet": {
    "id": "",
    "worksheet": "Sheet1"
  },
  "headers": [],
  "metadata": {
    "name": "",
    "description": "",
    "locale": "en_GB",
    "summary_mode": "total",
    "hide_empty_categories": true,
    "exclude_negative": false,
    "exclude_zero": false,
    "exclude_positive": true,
    "yearmonth": "2024-01",
    "span": 1,
    "theme": "dark",
    "loess_fraction": 0.15,
    "negative_span": 24
  },
  "categories": {}
}